* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: auto;
}
main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 75px;
}
h1 {
    margin: 0;
    font-family: 'Forum';
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px; /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
}
h2 {
    margin: 0;
    font-family: 'Forum';
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px; /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
}
.header {
    background-color: #030303;
}
.header-cont {
    position: relative;
    top: 0;
    display: flex;
    width: 1440px;
    height: 120px;
    margin: auto;
    background-color: #030303;
}
.header-text {
    position: relative;
    height: 26px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 466px;
}
.nav-list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 55px;
    flex-shrink: 0;
    width: 775px;
    height: 26px;
}
.nav-item {
    font-family: 'Roboto';
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 2px;
}
.nav-item:hover {
    color: #9D8665;
    transition: 0.5s;
}
.nav-item:active {
    color: #7E6C51;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 199px;
    height: 33px;
    gap: 25px;
    font-family: 'Forum';
    color: #fff;
    font-size: 28px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.hamburger-button {
    display: none;
}
.welcome {
    position: relative;
    width: 100%;
    height: 842px;
    background-color: #030303;
}
/*@media (min-width: 1025px) {
    .welcome {
        height: 842px;
    }
    .welcome-page {
        width: 1440px;
        height: 842px;
    }
    .tour {
        width: 1440px;
        height: 1116px;
    }
    .virtual-tour {
        width: 1440px;
        height: 923px;
    }
    .welcome-slider-img {
        width: 1000px;
        height: 750px;
    }
}*/

.welcome-page {
    position: relative;
    width: 1440px;
    height: 842px;
    margin: auto;
    background-color: #030303;
}
.welcome-main-text {
    z-index: 1;
    position: absolute;
    top: 182px;
    width: 700px;
    height: 180px;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #FFF;
}
.welcome-text {
    z-index: 1;
    position: absolute;
    top: 387px;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
}
.welcome-button {
    position: absolute;
    z-index: 1;
    top: 495px;
    display: flex;
    width: 360px;
    height: 75px;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background: #710707;
}
.welcome-button:hover {
    background-color: #9D8665;
    transition: 0.5s;
}
.link {
    text-decoration: none;
}
.welcome-button-text {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
}
.welcome-slider {
    position: absolute;
    width: 1000px;
    height: 754px;
    top: 32px;
    left: 440px;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    overflow: hidden;
}
.welcome-slider-img {
    display: flex;
}
.slider-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.50) 16.19%, rgba(0, 0, 0, 0.00) 30.73%);
}
.slider-img {
    position: relative;
    width: 100%;
    height: 100%;
}
.welcome-slider-nav {
    position: absolute;
    top: 722px;
    left: 840px;
    width: 600px;
    height: 120px;
    background-color: #030303;
}
.welcome-slider-numbers {
    position: absolute;
    top: 40px;
    left: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 181.818% */
    text-transform: uppercase;
}
.welcome-slider-squares {
    position: absolute;
    top: 52px;
    left: 205px;
    width: 180px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.slider-squares {
    border: none        ;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-size: cover;
    background-color: #ffffff;
}
.slider-squares-active {
    background-color: #7E6C51;
}
.slider-squares:hover {
    width: 16px;
    height: 16px;
    background-size: cover;
    background-color: #D2B183;
}
.slider-arrows {
    position: absolute;
    top: 56px;
    right: 75px;
    width: 80px;
    height: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-arrows-item::scroll-button {
    cursor: pointer;
}
.slider-arrows-item .left-arrow {
    fill: #ffffff;
}
.slider-arrows-button {
    border: none;
    background-color: transparent   ;
}
.reverse {
    transform: rotate(180deg);
}
.slider-arrows-item .left-arrow:hover {
    fill: #9D8665;
}
.visiting {
    background-color: #ffffff;
}
.tour {
    position: relative;
    width: 1440px;
    height: 1116px;
    margin: 0 auto;
}
.tour-main-title {
    position: relative;
    width: 650px;
    color: #9D8665;
}
.main-line {
    position: relative;
    top: 25px;
    width: 1440px;
    height: 3px;
    background-color: #710707;
}
.virtual-tour {
    position: relative;
    top: 100px;
    width: 1440px;
    height: 923px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
.tour-item {
    position: relative;
    top: 0;
    left: 0;
    height: 424px;
}
.tour-item:hover {
    .tour-line {
        width: 100%;
        transition: 0.5s;
    }
}
.tour-item-text {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.tour-title {
    margin: 0;
    color: #000;
    font-family: 'Forum';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.tour-title-medium {
    font-size: 22px;
}
.tour-title-little {
    font-size: 18px;
}
.tour-line {
    right: 140px;
    width: 300px;
    height: 2px;
    background-color: #710707;
}
.explore {
    background-color: #030303;
}
.picture-explore {
    position: relative;
    width: 1440px;
    height: 865px;
    display: flex;
    margin: auto;
}
.picture-explore-content {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 75px 0;
    gap: 60px;
}
.picture-explore-text {
    width: 660px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.picture-explore-text-cont {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 50px;
    gap: 25px;
}
.picture-explore-title {
    margin: 0;
    color: #FFF;
    font-family: 'Forum';
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px; /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
}
.picture-explore-line {
    position: relative;
    top: 23px;
    width: 100%;
    height: 3px;
    background-color: #710707;
}
.regular-text {
    margin: 0;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 38.5px; /* 175% */
}
.black {
    color: #000000;
}
.allocation-text {
    color: #CAAA7D;
}
.picture-explore-text-space {
    height: 25px;
}
.picture-explore-img {
    margin: 15px 0 0 0;
    width: 720px;
    height: 700px;
    background-image: url(assets/img/explore-slider/before.jpg);
}
.picture-explore-slider {
    position: relative;
    top: 90px;
    left: 1141px;
    width: 39px;
    height: 700px;
    background-image: url(assets/img/explore-slider/explore%20slider.png);
}
.video {
    position: relative;
    width: 100%;
    background-color: #ffffff;
}
.video-journey {
    position: relative;
    width: 1440px;
    height: 1246px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}
.video-journey-text {
    width: 100%;;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 110px;
}
.video-journey-title {
    width: 610px;
    color: #9D8665;
}
.video-journey-regular-text {
    width: 700px;
}
.player {
    display: flex;
    flex-direction: column;
    margin: 75px 0 0 0;
}
.player-video {
    position: relative;
    width: 1440px;
    height: 650px;
    background-color: #000;
}
.player-video-triangle {
    position: absolute;
    top: 380px;
    right: 610px;
    width: 220px;
    height: 220px;
    background-image: url(./assets/img/svg/video_frame.svg);
}
.player-control {
    width: 1440px;
    height: 85px;
    background-color: #000000;
}
.video-journey-videos {
    margin: 40px 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 42px;
}
.video-item {
    width: 452px;
    height: 254px;
}
.video-slider {
    margin: 40px 0 0 0;
    width: 200px;
    height: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.circle {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    cursor: pointer;
    background-color: #999999;
}
.circle-active {
    background-color: #333333;
}
.circle:hover {
    background-color: #710707;
}
.video-arrow {
    fill: #999999;
    cursor: pointer;
}
.video-arrow:hover {
    fill: #710707;
}
.gallery {
    position: relative;
    width: 100%;
    height: 2200px;
    background-color: #030303;
    overflow-y: hidden;
}
.art-gallery {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}
.gallery-main-title {
    position: relative;
    top: 75px;
    color: #ffffff;
}
.gallery-images-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gallery-images-column-side {
    position: relative;
    top: 215px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.gallery-images-column {
    position: relative;
    top: 165px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.gallery-shadow {
    position: relative;
    top: -520px;
    width: 1440px;
    height: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}
.tickets {
    position: relative;
    width: 100%;
    height: 743px;
    background-color: #ffffff;
}
.tickets-page {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}
.tickets-title {
    position: relative;
    color: #9D8665;
}
.tickets-cont {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 550px;
    margin-top: 100px;
}
.tickets-img {
    width: 720px;
    height: 550px;
}
.ticket-type {
    width: 270px;
    height: 211px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 60px;
    gap: 25px;
}
.ticket-type-text {
    margin-bottom: 25px;
}
.ticket-large-text {
    color: #000;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ticket-text {
    line-height: normal;
    color: #000;
    margin-left: 25px;
    margin-top: 10px;
}
.amount-cont {
    width: 175px;
    margin-left: 215px;
    display: flex;
    flex-direction: column;
}
.amount-text {
    text-align: end;
    margin-bottom: 15px;
}
.amount-field {
    width: 150px;
    height: 50px;
    border: 3px solid #000;
    margin-top: 15px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.amount-button {
    border: none;
    background-color: #fff;
}
.amount-input {
    width: 65%;
    border: none;
    outline: none;
    text-align: center;
    line-height: normal;
    color: #000;
}
.amount-button-text {
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.total-text {
    letter-spacing: 1.65px;
    text-align: end;
    margin-top: 50px;
}
.buy-button {
    display: flex;
    width: 175px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
    border-radius: 2px;
    background: #000;
    margin-top: 60px;
}
.parallax {
    margin: auto;
    width: 100%;
    height: 400px;
    background-image: url(assets/img/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contacts {
    position: relative;
    width: 100%;
    margin: 0 0 74px 0;
    background-color: #ffffff;
}
.contacts-page {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}
.contacts-title {
    position: relative;
    color: #9D8665;
}
.contacts-cont {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 95px;
}
.contacts-text {
    display: flex;
    flex-direction: column;
    width: 282px;

}
.contacts-map {
    width: 960px;
    height: 620px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(assets/img/Map.png);
}
.contact-main-text {
    width: 220px;
    margin-bottom: 50px;
    font-weight: 500;
}
.contact-regular-text {
    color: #000;
    margin-bottom: 10px;
}
footer {
    position: relative;
    width: 100%;
    height: 392px;
    background-color: #000;
}
.footer-container {
    position: relative;
    top: 86px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.footer-nav-list {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 363px;
    height: 130px;
    gap:150px;
    margin-left: 145px;
}
.footer-nav-list-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.socials {
    width: 340px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    margin-left: 397px;
}
.footer-line {
    position: relative;
    top: 140px;
    width: 100%;
    height: 3px;
    background: #666;
}
.footer-end {
    width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 190px;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: 22px; /* 100% */
    letter-spacing: 2px;
}
@media (max-width: 1024px) {
    .element::-webkit-scrollbar {
        display: none;
    }
        main {
        gap: 60px;
    }
    h1 {
        font-size: 50px;
        line-height: 90px; /* 180% */
    }
    h2 {
        font-size: 50px;
        line-height: 75px; /* 150% */
    }
    .header-cont {
        width: 984px;
        height: 130px;
    }
    .nav-list {
        display: none;
    }
    .hamburger-button {
        display: block;
        width: 35px;
        height: 20px;
        border: none;
        background-color: #000;
        background-size: cover;
        background-image: url(assets/img/svg/hamburger_32x18.svg);
    }
    .hamburger-button:active {
        width: 25px;
        height: 25px;
        background-image: url(assets/img/svg/hamburger_close_32x18.svg);
    }
    .welcome {
        height: 585px;
    }
    .welcome-page {
        width: 984px;
        height: 585px;
    }
    .welcome-text {
        top: 255px;
        font-size: 24px;
    }
    .welcome-main-text {
        top: 50px;
        width: 700px;
        height: 180px;
    }
    .welcome-button {
        z-index: 1;
        top: 333px;
        width: 300px;
        height: 60px;
    }
    .link {
        text-decoration: none;
    }
    .welcome-button-text {
        font-size: 20px;
    }
    .welcome-slider-img {
        width: 700px;
        height: 525px;
    }
    .welcome-img-size {
        width: 700px;
        height: 525px;
    }
    .welcome-slider {
        width: 700px;
        height: 525px;
        top: 0px;
        left: 284px;
    }
    .welcome-slider-nav {
        top: 465px;
        left: 284px;
        width: 700px;
        height: 120px;
    }
    .welcome-slider-numbers {
        position: absolute;
        top: 40px;
        left: 223px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        color: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 200% */
        text-transform: uppercase;
    }
    .welcome-slider-squares {
        position: absolute;
        top: 54px;
        left: 340px;
        width: 160px;
        height: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .slider-squares {
        border: none;
        width: 12px;
        height: 12px;
        cursor: pointer;
        background-size: cover;
        background-color: #ffffff;
    }
    .slider-squares-active {
        background-color: #7E6C51;
    }
    .slider-arrows {
        position: absolute;
        top: 55px;
        right: 69px;
        width: 95px;
        height: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tour {
        margin: auto;
        width: 984px;
        height: 1313px;
    }
    .virtual-tour {
        top: 83px;
        width: 768px;
        height: 1155px;
    }
    .tour-img {
        width: 330px;
        height: 215px;
    }
    .tour-item {
        position: relative;
        top: 0;
        left: 0;
        height: 345px;
    }
    .tour-title {
        font-size: 28px;
        letter-spacing: 3px;
    }
    .tour-title-medium {
        font-size: 20px;
    }
    .tour-title-little {
        font-size: 16px;
    }
    .main-line {
        top: 20px;
        width: 984px;
    }
    .tour-line {
        width: 150px;
        height: 2px;
    }
    .picture-explore {
        margin: auto;
        width: 984px;
        height: 1029px;
        margin: 60px 0;
    }
    .picture-explore-content {
        position: relative;
        width: 100%;
        margin: 0 20px;
        flex-direction: column;
        justify-content: space-between;
        gap: 55px;
    }
    .picture-explore-text {
        width: 984px;
        position: relative;
        display: flex;
    }
    .picture-explore-text-cont {
        width: 100%;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .text-none {
        display: none;
    }
    .picture-explore-title {
        font-size: 50px;
        line-height: 75px; /* 150% */
    }
    .regular-text {
        font-size: 20px;
        line-height: 38.5px; /* 192.5% */
    }
    .picture-explore-text-space {
        display: none;
    }
    .picture-explore-img {
        margin: 0 auto;
        width: 720px;
        height: 700px;
    }
    .picture-explore-slider {
        position: absolute;
        top: 330px;
        left: 570px;
    }
    .video-journey {
        margin: auto;
        width: 984px;
        height: 881px;
    }
    .player-video {
        position: relative;
        width: 984px;
        height: 444px;
        background-color: #000;
    }
    .player {
        display: flex;
        flex-direction: column;
        margin: 40px 0 0 0;
    }
    .player-control {
        width: 984px;
        height: 60px;
    }
    .video-journey-videos {
        margin: 40px 0 0 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 41px;
    }
    .video-item {
        width: 300px;
        height: 170px;
    }
    .gallery {
        margin: auto;
        height: 1460px;
    }
    .art-gallery {
        position: relative;
        top: 60px;
        width: 984px;
    }
    .gallery-main-title {
        top: 0;
    }
    .gallery-images-column-side {
        top: 110px;
    }
    .gallery-images-column {
        top: 60px;
    }
    .gallery-img-size {
        width: 304px;
    }
    .gallery-shadow {
        position: absolute;
        top: 1100px;
        left: 0;
        width: 1024px;
        height: 239px;
    }
    .tickets {
        margin: auto;
        width: 100%;
        height: 598px;
        background-color: #ffffff;
    }
    .tickets-page {
        width: 984px;
        margin: 0 20px;
    }
    .tickets-cont {
        margin-top: 80px;
    }
    .tickets-img {
        object-fit: cover;
        width: 700px;
        height: 440px;
    }
    .ticket-type {
        display: none;
    }
    .ticket-text {
        font-size: 22px;
        line-height: normal;
        margin-left: 0;
        margin-top: 0px;
    }
    .amount-cont {
        margin-left: 80px;
        gap: 20px;
    }
    .amount-text {
        text-align: start;
        margin-bottom: 10px;
    }
    .amount-field {
        width: 175px;
        margin-top: -10px;
        margin-left: 0;
    }
    .total-text {
        display: flex;
        justify-content: space-between;
        text-align: start;
        margin-top: 10px;
    }
    .buy-button {
        margin-top: 50px;
    }
    .contacts {
        margin: auto;
    }
    .contacts-page {
        position: relative;
        width: 984px;
        margin: 0 auto;
    }
    .contacts-cont {
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .contacts-map {
        width: 694px;
        height: 454px;
    }
    .contact-main-text {
        font-size: 24px;
        width: 200px;
        margin-bottom: 25px;
    }
    .contact-regular-text {
        margin-bottom: 0px;
    }
    footer {
        margin: auto;
        height: 368px;
    }
    .footer-container {
        top: 62px;
        width: 984px;
    }
    .footer-nav-list {
        top: 4px;
        right: 4px;
        width: 313px;
        height: 128px;
        gap:120px;
        margin-left: 45px;
    }
    .footer-nav-list-column {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .socials {
        margin-left: 92px;
    }
    .footer-line {
        top: 120px;
    }
    .footer-end {
        width: 984px;
        top: 170px;
    }
}